<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ゲーム画面</title>
    </head>
    <body class="main">
        {% block content %}
        {% csrf_token %}
        <p id="question"></p>
        <button onclick="judge('T')">True</button>
        <button onclick="judge('F')">False</button>
        <br>
        <button onclick="hint()">ヒント</button>
        <p id="hints"></p>
        <p id="result"></p>
        <p id="commentary"></p>
        <p id="points">現在のポイント: 0</p>
        <button onclick="objection()">異議あり！</button>
        <button onclick="next()">次へ</button>
        <p id="judge"></p>
        <p id="objection"></p>
        <script>
            var index = 0;
            var points = 0;
            const data = JSON.parse("{{ data|escapejs }}");

            window.onload = function setup() {
                document.getElementById("question").textContent = data[index]["question"];
            }

            function judge(button_value) {
                if (document.getElementById("question").textContent == data[index]["question"]){
                    if (data[index]["answer"] == button_value){
                        document.getElementById("result").textContent = "正解";
                        document.getElementById("commentary").textContent = data[index]["commentary"];
                        points += 10;
                    }
                    else {
                        document.getElementById("result").textContent = "不正解";
                        document.getElementById("commentary").textContent = data[index]["commentary"];
                    }
                    document.getElementById("points").textContent = "現在のポイント: " + points;
                }
            }

            function next() {
                index++;
                if (index < 5){
                    document.getElementById("question").textContent = data[index]["question"];
                    document.getElementById("result").textContent = "";
                    document.getElementById("commentary").textContent = "";
                    document.getElementById("hints").textContent = "";
                }
                else {
                    window.location.href = `/result/?point=${points}`;
                }
            }

            function hint() {
                document.getElementById("hints").textContent = data[index]["hints"];
            }

            function objection() {
                const endPoint = "https://api.openai.com/v1/chat/completions";
                const modelName = "gpt-3.5-turbo";
                const text = data[index]["question"];
                const API = "{{ API }}";
                const prompt = 
                `
                以下の文章が正しいか誤っているかを判定してください。
                ${text}
                判定は正しいときはT、誤っているときはFと出力してください。
                また、その理由もJson形式で出力してください。

                出力例
                {
                    "judge": "正誤を表す英文字",
                    "commentary": "解説"
                }
                `;

                const messages=[
                    {"role": "user", "content": prompt},
                ];

                const requestOptions = {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Authorization: `Bearer ${API}`
                    },
                    body: JSON.stringify({
                        model: modelName,
                        messages: messages,
                        max_tokens: 700
                    })
                };

                const myRequest = new Request(endPoint, requestOptions);

                fetch(myRequest)
                    .then(res => res.json())
                    .then(json => {
                        console.log(json.choices[0].message.content);
                    })
                .catch(err => {
                    console.log("error");
                });

                if ()
                document.getElementById("objection").textContent = text;
            }
        </script>
        <style>
            .main {
                text-align: center;
            }
        </style>
        {% endblock %}
    </body>
</html>