<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ゲーム画面</title>
    </head>
    <body class="main">
        {% block content %}
        {% csrf_token %}
        <p id="question"></p>
        <button onclick="judge('T')">True</button>
        <button onclick="judge('F')">False</button>
        <br>
        <p id="result"></p>
        <p id="commentary"></p>
        <p id="points">現在のポイント: 0</p>
        <button onclick="next()">次へ</button>
        <script>
            var index = 0;
            var points = 0;
            const data = JSON.parse("{{ data|escapejs }}");

            window.onload = function setup() {
                document.getElementById("question").textContent = data[index]["question"];
            }

            function judge(button_value) {
                if (document.getElementById("question").textContent == data[index]["question"]){
                    if (data[index]["answer"] == button_value){
                        document.getElementById("result").textContent = "正解";
                        document.getElementById("commentary").textContent = data[index]["commentary"];
                        points += 10;
                    }
                    else {
                        document.getElementById("result").textContent = "不正解";
                        document.getElementById("commentary").textContent = data[index]["commentary"];
                    }
                    document.getElementById("points").textContent = "現在のポイント: " + points;
                }
            }

            function next() {
                index++;
                if (index < 5){
                    document.getElementById("question").textContent = data[index]["question"];
                    document.getElementById("result").textContent = "";
                    document.getElementById("commentary").textContent = "";
                }
                else {
                    window.location.href = `/result/?point=${points}`;
                }
            }
        </script>
        <style>
            .main {
                text-align: center;
            }
        </style>
        {% endblock %}
    </body>
</html>